
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --torquoise: rgb(0, 156, 222);
  --dark-blue: rgb(0, 51, 137);
  --gray: hsl(206, 8%, 35%);
  --body: rgb(242, 242, 242);
  --add-payment: rgb(0, 112, 186);
  --footer-anchors: rgb(17, 85, 204);
  --footer-socmeds: rgb(187, 187, 187);
}

body{
  background: var(--body);
  font-family: 'Roboto', sans-serif;
}

a{
  cursor: pointer;
}

li{
  list-style: none;
}

.container{
  max-width: 640px;
  margin: 0 auto;
}

.paypal-links{
  color: var(--add-payment);
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
}



/* HEADER */
.header, 
.explore-paypal{
  background: rgb(0,156,222);
  background: linear-gradient(180deg, rgba(0,156,222,1) 0%, rgba(0,51,137,1) 100%);
  color: #FFFFFF;
  text-align: center;
}

.header .paypal-logo{
  width: 140px;
  padding: 20px 0;
}

.header .header-line{
  margin-top: -4px;
  display: flex;
  justify-content: center;
}

.header .line{
  margin: 0;
  padding: 0; 
  display: block;
  border: none;
  width: 500px;
}

.header h1{
  font-size: 40px;
  font-weight: normal;
  line-height: 130%;
  min-width: 280px;
  max-width: 520px;
  margin: 0 auto;  
}

.header p{
  font-size: 18px;
  line-height: 130%;
  padding-top: 20px;
  min-width: 280px;
  max-width: 520px;
  margin: 0 auto;
}

.header .box{
  padding: 40px 20px 50px 20px;
}



/* INSTRUCTIONS */
.instructions{
  background: #FFFFFF;
  color: var(--gray);
  text-align: center;
}

.instructions > p{
  font-size: 16px;
  line-height: 1.5;
  min-width: 280px;
  max-width: 520px;
  margin: 0 auto;
  padding-top: 45px;
  text-align: left;
}

.instructions ul{
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 5px;
}

.instructions ul li{
  padding: 20px 0;
}

.instructions ul li:first-child{
  padding-right: 20px;
}

.instructions ul li:last-child{
  padding-left: 20px;
}

.instructions ul li p{
  margin-top: 20px;
}

.instructions input{
  min-width: 298px;
  font-family: 'pp-sans-small-regular',Tahoma,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  background-color: #0070ba;
  border: none;
  border-radius: 50px;
  margin: 45px 0 40px 0;
  padding: 13.8px 24px;
  text-transform: capitalize;
}




/* BENEFITS || PERKS */
.benefits{
  background: #FFFFFF;

}

.benefits > img{
  width: 100%;
}

.benefits ul{
  max-width: 520px;
  margin: 0 auto;
  /* padding: 20px 0; */
}

.benefits ul li{
  display: flex;
  justify-content: space-between;
  padding: 30px 0 35px 0;
  border-bottom: 1px solid #DDDDDD;
}

.benefits ul li:first-child{
  padding-top: 27px;
}

.benefits ul li:last-child{
  border-bottom: 0;
}

.benefits ul li img{
  width: 80px;
  height: 80px;
}

.benefits .benefit{
  max-width: 400px; 
}

.benefits .benefit h3{
  color: #2c2e2f;
  font-size: 20px;  
  line-height: 1.3;
}

.benefits .benefit p{
  color: #6c7378;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 0;
}

.benefits .benefit > div{
  display: block;
}





/* EXPLORE PAYPAL */
.explore-paypal{
  padding: 50px 0;
}

.explore-paypal img{
  width: 80px;
  height: 80px;
}

.explore-paypal h2{
  font-size: 26px;
  line-height: 1.3;
  font-weight: normal;
  padding: 25px 0 20px 0;
}

.explore-paypal input{
  min-width: 250px;
  font-family: 'pp-sans-small-regular',Tahoma,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #0070ba;
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50px;
  padding: 13.8px 24px;
  text-transform: capitalize;
}



/* FOOTER */
.footer{
  background: #f5f7fa;
}

.footer-box{
  max-width: 520px;
  margin: 0 auto;
}

.footer .contacts{
  padding: 25px 0 20px 0;
  text-align: center;
}

.footer .contacts img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 20px;
}

.footer .contacts img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 20px;
}

.footer ul{
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer ul li{
  margin: 0 10px;
}

.footer ul li a{
  text-decoration: none;
  font-size: 12px;
  color: #666666;
  font-weight: bold;
}

.footer p{
  font-size: 13px;
  line-height: 1.5;
  color: #6c7378;
  padding-top: 20px
}

.footer p a{
  color: #15c;
}

.footer .terms{
  text-decoration: none;
  color: #0070ba;
  font-weight: bold;
}

.footer .mail{
  font-weight: bold;
}

.footer .not-spoof{
  font-weight: bold;
  color: #666666;
}

.footer p:last-child{
  padding-bottom: 25px
}